html, body {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #280020 0%, #0b1d2f 100%);
  color: #ffffff;
  width: 100%;
  height: 100%;
}

main {
  height: 100vh;
  width: max(320px, 60%);
  margin: 24px auto;
  padding: 8px;
  font-size: 20pt;
}

main > * {
  padding: 8px;
  margin: 8px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

input {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

button {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  outline: none;
}

code {
  overflow-x: hidden;
  display: block;
}